################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Solid/v15/Server/sqlite3
/Solid/bin/Debug/Solid.exe.config
